html {
  box-sizing: border-box;
  background:#eeeeee;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.site-wrap {
  max-width: 700px;
  margin: 70px auto;
  background:white;
  padding:40px;
  text-align: left;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}

.fixed-nav .site-wrap {
  transform: scale(1);
}


header {
  text-align: center;
  height:50vh;
  background-color: #a8d3f0;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bce3f4' fill-opacity='0.46'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display:flex;
  align-items:center;
  justify-content: center;
}

h1 {
  color:white;
  font-size: 7vw;
}

nav {
  background: #a8d3f0;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all .5s;
  font-weight: 600;
  font-size: 30px;
}

.fixed-nav li.logo {
  max-width: 500px;
}

li.logo a {
  color:black;
}

nav a {
  text-decoration: none;
  padding:20px;
  display: inline-block;
  color:white;
  transition:all 0.2s;
  text-transform: uppercase;
}

/* unvisited link */
nav a:link {
    text-decoration: none;
    color: white;
}

/* visited link */
nav a:visited {
    color: white;
}

/* mouse over link */
nav a:hover {
    background-color: rgba(255,255,255,0.3);
    padding: 10px 10px;
    transition:all 0.2s;
}

/* selected link */
nav a:active {
    color: #a8d3f0;
}

p.title {
  font-weight: bold;
}

a.title {
  font-weight: bold;
}

p.publication {
  padding-left: 50px;
  font-size: 80%;
  text-align: left;
}

p.location {
  padding-left: 58px;
  font-size: 80%;
}

p.award {
  padding-left: 50px;
  font-size: 80%;
  font-weight: bold;
}

/* unvisited link */
a.pdf:link {
    text-decoration: none;
    color: black;
    box-shadow: inset 0 -10px 0 rgba(168,211,240,0.3);
}

/* visited link */
a.pdf:visited {
    color: black;
}

/* mouse over link */
a.pdf:hover {
    background-color: rgba(168,211,240,0.3);
    padding: 5px 0;
    box-shadow: none;
    transition:all 0.2s;
}

/* selected link */
a.pdf:active {
    color: #a8d3f0;
}


/*////////////////////////////////*

/* unvisited link */
a.slides:link {
    text-decoration: none;
    color: lightgrey;
    font-size: 70%
}

/* visited link */
a.slides:visited {
    color: lightgrey;
}

/* mouse over link */
a.slides:hover {
    color: #a8d3f0;
    text-decoration: underline;
}

/* selected link */
a.slides:active {
    color: #a8d3f0;
}
